<div class='middle1'>
  <div class='middle1Wrapper'>
    <div class='title'>tomozQoo.me</div>
    <div class='subcontents'>
      PORTFOLIO OF TOMOKI FURUYA
    </div>
  </div>
</div>
<div class='middle2'>
  <div class='contents'>
    <div class='content'>
      <a href="https://nightwalk-pf2.herokuapp.com/">
        <img src="images/スクリーンショット 2020-09-30 15.56.36.png" alt="portforio_image">
      </a>
      <a href="https://github.com/TomozQ/PF_2" class='githubUrl'><img src="images/矢印のアイコン素材 (右向き).png" class='right'> Github</a>
    </div>
    <div class='content'>
      <a href="http://ec2-54-248-41-141.ap-northeast-1.compute.amazonaws.com/">
        <img src="images/スクリーンショット 2020-09-30 15.54.54.png" alt="portforio_image">
      </a>
      <a href="https://github.com/TomozQ/fleamarket_sample_79c" class='githubUrl'><img src="images/矢印のアイコン素材 (右向き).png" class='right'> Github</a>
    </div>
    <div class='content'>
      <a href="https://pf1-hagarenfuns.herokuapp.com/">
        <img src="images/スクリーンショット 2020-09-30 15.55.45.png" alt="portforio_image">
      </a>
      <a href="https://github.com/TomozQ/PF_1" class='githubUrl'><img src="images/矢印のアイコン素材 (右向き).png" class='right'> Github</a>
    </div>
    <div class='content'>
      <a href="https://glue1.herokuapp.com/">
        <img src="images/スクリーンショット 2020-09-30 15.54.31.png" alt="portforio_image">
      </a>
      <a href="https://github.com/TomozQ/glue" class='githubUrl'><img src="images/矢印のアイコン素材 (右向き).png" class='right'> Github</a>
    </div>
  </div>
</div>
<div class='info'>
  <p>テスト用アカウントについてはGithubのREADMEに記載しています</p>
</div>
<div class='middle3'>
  <div class='contact'>
    <p>Contact</p>
    <p>inf.4clover@gmail.com</p>
  </div>
</div>
<footer>
  <small>&copy;tomozQoo.me</small>
</footer>